{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat | Página não encontrada</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img/projeto.png" type="image/x-icon">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div class="container_not-found">
            <div class="conteudo_not-found">
                <img src="img/error1.png" alt="">
            </div>
    </div>

{% endblock %}
